#ff{
    color: brown;
    font-size: 2em;

}
.d{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 176, 176);
    text-align: center;
    padding-top: 40px;
}
li{
    border: solid 2px red;
    text-align: center;
    list-style: none;
}
table{
    text-align: center;
}
a{

    text-decoration: none;

}
a:hover{
    background-color: rgb(218, 12, 12);
    color: ghostwhite;
}
a:link {
    color: darkturquoise;
}